#googleLogIn{
    display: none;
}

#homePage{
    display: none;
    position: relative
}


/* #name {} */

#heading {
    left: 0;
    line-height: 200px;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    top: 0px, 100%;
    width: 100%;
}

#url {
    position: absolute;
    top: 0px;
    right: 0px;
}

.text{
    font-family: 'Shadows Into Light', cursive;
}

#btnupload{
    -webkit-appearance: none;
    background-color: purple;
    outline: none;
    color: white;
    padding: 0.5rem;
    font-family:sans-serif;
    border-radius: 10px;
    margin-top: center;
    width: 100px;
    height: 40px;
    font-size: 10px;
    text-align: center;
    line-height: center;
    cursor: pointer;
}

#btnupload:active{
    background: darkmagenta;
}

#drop-zone-input{
    display: none;
}

#file-content {
    position: absolute;
    margin-top: center;
    font-size: 20px;
    font-family: sans-serif;
    left: 50%;
    margin-left: -125px;
    bottom: 50%;
    margin-bottom: -350px;
}

#drop-zone{
    position: absolute;
    left: 50%;
    margin-left: -125px;
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 500px;
    font-size: 20px;
    color: #cccccc;
    border: 4px dashed #800080;
    border-radius: 10px;
}

#btnTable{
    display: inline-block;
    background-color: grey;
    color: white;
    padding: 0.5rem;
    font-family:sans-serif;
    border-radius: 10px;
    cursor: pointer;
    margin-top: center;
    margin-left: 375px;
    width: 80px;
    height: 30px;
    font-size: 9px;
    text-align: center;
    line-height: 10px;
}

#tableCont{
    display: none;
    border: 1px solid black;
    position: absolute;
    margin-top: center;
    margin-left: 350px;
    bottom: 50%;
    margin-bottom: -350px;
}